<a routerLink="/moviePage" fragment="{{movie.id}}" routerLinkActive="active">
  <img 
    *ngIf="movie.poster_path" class="card-img-top" 
    src="{{'http://image.tmdb.org/t/p/w300/' + movie.poster_path}}" alt="posterPath"
  />
  <div 
    *ngIf="!movie.poster_path" 
    class="d-flex justify-content-center align-items-center" 
    [ngStyle]="{'height': '400px'}"
  > 
    No image available
  </div>
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <div> 
      <span *ngFor="let genre of movie.genre_ids" class="badge bg-warning text-dark m-1">
        {{genre | genreName}}
      </span>
    </div>
    <div class="d-flex justify-content-around">
      <span>{{movie.release_date | date}}</span>
      <span>Rating: {{movie.vote_average}}</span>
    </div>
  </div>
</a>
