<div class="App">
  <header>
    <ul>
      <li><a routerLink="/trending" routerLinkActive="active">Trending</a></li>
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <li><a routerLink="/watchlist" routerLinkActive="active">Watch List</a></li>
    </ul>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <div>
    <p>Powered by:</p><img src='../assets/img/TMDBlogo.svg' alt="logo"/>
    </div>
    <div>
      <p>
        Favicon made by 
        <a href="https://www.freepik.com" title="Freepik" target="blank">Freepik</a> from 
        <a href="https://www.flaticon.com/" title="Flaticon" target="blank">www.flaticon.com</a>
      </p>
    </div>
  </footer>
</div>