<div *ngIf="movieList.length !== 0; else emptyList" class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let movie of movieList" class="m-2 m-lg-4 d-flex flex-column">
    <div class="card flex-grow-1">
      <app-movie-card [movie]="movie"
      ></app-movie-card>
    </div>
    <button class="btn btn-danger mt-1" (click)="removeFromWatchList(movie)">
      Remove from Watch List
    </button>
  </div>
</div>
<ng-template #emptyList>
  <p [ngStyle]="{'height': '30vh'}">There are no movies in your watchlist.</p>
</ng-template>
