<div class="movieContainer">
  <h1>{{movie.title}}</h1>
  <h2>{{movie.tagline}}</h2>
  <img class="large" src="{{'http://image.tmdb.org/t/p/w780/' + movie.backdrop_path}}" alt="backdropPath" />
  <div class="d-flex justify-content-around">
    <span *ngFor="let genre of movie.genre_ids" class="badge bg-warning text-dark m-1">
      {{genre | genreName}}
    </span>
  </div>
  <div class="d-flex justify-content-around">
    <span>Release date: {{movie.release_date | date}}</span>
    <span>Rating: {{movie.vote_average}}</span>
  </div>
  <p>{{movie.overview}}</p>
    <!-- <button class="btn btn-success" onClick={() => addToWatchList(movieData)}>+ Add to watch list</button>
    <div class="ratingContainer">
        <input type="number" placeholder='Rating' min="0.5" max="10"/>
        <button class="btn btn-light" onClick={() => addRating(movieData.id, guestID, document.querySelector("input").value)}>Rate Movie</button>
    </div> -->
</div>
<div class="peopleContainer d-flex flex-wrap justify-content-center">
  <div *ngFor="let person of cast" class="person-card m-2 m-lg-4 d-flex flex-column">
    <img *ngIf="person.profile_path" class="card-img-top" src="{{'http://image.tmdb.org/t/p/w300/' + person.profile_path}}" alt="profilePath" />
    <div class="card-body">
        <h5 class="card-title">{{person.name}}</h5>
    </div>
  </div>
</div>
