<div class="searchWrap">
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <input required type="text" [(ngModel)]="searchItem" name="searchItem" placeholder='Search' />
    <button type="submit" [disabled]="!searchForm.form.valid">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </form>
</div>
<div *ngIf="total > 1">
  <app-pagination
    [current]="current" [total]="total" (goTo)="onGoTo($event)" 
    (next)="onNext($event)" (previous)="onPrevious($event)"
  ></app-pagination>
</div>
<!-- turn pages functionality -->
<div class="d-flex flex-wrap justify-content-center" [ngStyle]="{'minHeight': '65vh'}">
  <div *ngFor="let movie of movieList" class="card m-2 m-lg-4">
    <app-movie-card [movie]="movie"
    ></app-movie-card>
  </div>
  <div *ngIf="total > 1">
    <app-pagination
      [current]="current" [total]="total" (goTo)="onGoTo($event)" 
      (next)="onNext($event)" (previous)="onPrevious($event)"
    ></app-pagination>
  </div>
</div>
